@font-face {
    font-family: 'RobotoRegula';
    src: url('../fonts/RobotoRegular/RobotoRegula.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold/RobotoBold') format('woff');
    font-weight: normal;
    font-style: normal;
}
